


.projects{
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .projects__title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    border-bottom: 6px solid white;
  }
  .projects__container {

    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .projects__item {
      .projects__item-image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width:30%;
          height: 100%;
          margin-top: 5%;
        }
      }
      .projects__item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
        h2 {
          color:white;
          letter-spacing: 4px;
          font-family: 'Poppins', sans-serif;
          border-bottom: 4px solid white;
        }
        p {
          color: white;
          text-align: center;
          font-family: 'Poppins', sans-serif;
        }
        .projects__item-links {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 2rem;
          a {
            background-color: black;
            opacity: 0.7;
            color: white;
            font-weight: bold;
            letter-spacing: 2px;
            padding: 15px 32px;
            border-radius: 4px;
            font-family: 'Poppins', sans-serif;
            margin-right: 2rem;
            text-decoration: none;
            margin-bottom: 2rem;
            border-bottom: 2px solid white;
            &:hover {
              color: #ffc107;
            }
          }
          a.active {
            background-color: #ffc107;
            color: black;
          }
        }
      }
    }
  }
}