@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans&family=Poppins&display=swap');

.header {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: fixed;
  margin-top: 10px;
  .header__logo {
    h1 {
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 2px;
      border-bottom: 2px solid white;
    }
  }
  .topnav {
    overflow: hidden;
    a{
      font-family: 'Poppins', sans-serif;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
      margin-right: 10px;
    text-decoration: none;
    font-size: 17px;border-bottom: 2px solid white;
  }
    a:hover {
    background-color: #ddd;
    color: black;
      transition: background-color 2s ease-out;
  }
    a.focus {
    border-bottom: 2px solid #4CAF50;
  }
  .icon {
    display: none;
  }
  }
}

@media screen and (max-width: 600px) {
  .header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .topnav {
    width: 60%;
    margin-left: 20%;
  }
}

